.hover-shadow {
    transition: all 0.3s ease;
}

.hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.country-box {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    display: block;
}
.country-box img {
    transition: transform 0.3s ease;
}
.country-box:hover img {
    transform: scale(1.1);
}
.overlay {
    background: rgba(0, 0, 0, 0.4);
    transition: background 0.3s ease;
}
.country-box:hover .overlay {
    background: rgba(0, 0, 0, 0.6);
}  